<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Connect</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center">Login Page</h1>
            <form style="padding-top: 50px">
                <div class="row mb-3">
                    <p> Please enter the name of the database you wish to connect to</p>
                    <label for="dbName" class="col-sm-2 col-form-label">Database Name:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="dbName" name="dbName" required><br><br>
                    </div>
                    <div class = "col-sm-1">
                    </div>
                    <div class = "col-sm-3">
                        <img src="abc.png" alt="Abc Media" width="100" height="100">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Connect</button>
            </form>
        </div>
    </body>
</html>