{% extends 'ABC_Media/home.html' %}
{{ form }}
{% block content %}

<h1 style="text-align:center;"> Connect to ABC Media Database </h1>
<form style="padding-bottom: 20px; padding-top:20px;" method="POST"  >
    {% csrf_token %}
    <div class="form-group row">
        <label for="{{ form.data_base_name }}" class="col-sm-2 col-form-label" style="text-color: white;"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="dbName" name="dbName" required placeholder="Database Name">
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Connect</button>
</form>

{% endblock %}
