{% extends 'ABC_Media/home.html' %}

{% block content %}

<h2 class="page-title"> Digital Display Asset Management</h2>

<div class="row">
    <div class="col-md-5">
        <div class="card" style="height: 15rem;">
            <div class="card-body">
              <h5 class="card-title">Manage digital displays</h5>
              <p class="card-text">View displays, create new displays, and manage existing displays</p>
              <form method="POST" class="form-group" action="{% url 'ABC_Media:searched' %}">
                {% csrf_token %}
                    <div class="input-group mb-3" style="color:black">
                        <input class="form-control" type="text" name="searched" placeholder="Search by scheduler system">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                        <a href="{% url 'ABC_Media:view_all_displays' %}" class="btn btn-outline-primary">See All</a>
                   </div>
               </form>
            </div>
        </div>
    </div>
    <div class="col-md-7"></div>
    <!-- <div class="col-md-4">
        <div class="card" style="height: 25rem;">
            <div class="card-body">
              <h5 class="card-title">Manage other data</h5>
              <p class="card-text">Coming soon!</p>
              <a href="{% url 'ABC_Media:view_all_displays' %}" class="btn btn-primary">Manage</a>
            </div>
          </div>
    </div> -->
</div>



<!-- <div class="row">
    <div class="col-md-6 offset-md-2">
      <h3> Digital Display Asset Management</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
       <h4><a href="{% url 'ABC_Media:view_all_displays' %}">View All Digital Displays</a></h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <form method="POST">
             {% csrf_token %}
            {{ form.digital_display }}
            <button type="submit" class="btn btn-primary">Search
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-4 offset-md-2">
        <h4><a href="{% url 'ABC_Media:add_model' %}">Add New Digital Display</a></h4>
    </div>

</div> -->
<!--<div class="row">
    <div class="col-md-4 col-md-4 offset-md-2">
        <h4><a href="{% url 'ABC_Media:viewModels' %}">View All Models</a></h4>
    </div>
</div>
{% endblock %}