{% extends 'ABC_Media/home.html' %}

{% block content %}

<h2 class="page-title">Update Digital Display</h2>

<div>
    <a href="{% url 'ABC_Media:main' %}" class="btn btn-secondary">Home</a>
    <a href="{% url 'ABC_Media:view_all_displays' %}" class="btn btn-secondary">Back</a>
</div>
<br />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <form action="" method=POST>
                {% csrf_token %}
        
                {{ form.as_p }}
        
                <input type="submit" value="Update" class="btn btn-green green-secondary" />
                <a href="{% url 'ABC_Media:view_all_displays' %}" class="btn btn-secondary btn-sml"> Cancel </a>
        
            </form>
        </div>
    </div>
</div>

{% endblock %}
