{% extends 'ABC_Media/home.html' %}

{% block content %}

<h2 class="page-title">Digital Displays</h2>


<br />

<a href="{% url 'ABC_Media:main' %}" class="btn btn-secondary">Home</a>
<a href="{% url 'ABC_Media:add_model' %}" class="btn btn-green green-secondary"> Add Model </a>
<a href="{% url 'ABC_Media:add_display' %}" class="btn  btn-green green-secondary"> Add Display </a>
<br />
<br />

<div class="card" >
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Serial Number</th>
                <th>Scheduler System</th>
                <th>Model Number</th>
                <th>Action</th>
            </tr>
        
            {% for display in displays %}
            <tr>
                <td>{{ display.serialno }}</td>
                <td>{{ display.schedulersystem }}</td>
                <td>
                    <a href="{% url 'ABC_Media:viewModelInfo' display.modelno.modelno %}">{{ display.modelno.modelno }}</a>
                </td>        
                <td>
                    <a href="{% url 'ABC_Media:update_display' display.serialno %}" class="btn btn-primary"> Update </a>
                    <a href="{% url 'ABC_Media:delete_display' display.serialno %}" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<br />

<!--Page Number Logic-->
{% if displays.has_previous %}
<a href="?page=1"> &laquo; First</a>
<a href="?page={{ displays.previous_page_number }}"> Previous</a>
{% endif %}

Page {{ displays.number }} of {{ displays.paginator.num_pages}}

{% if displays.has_next %}
<a href="?page={{ displays.next_page_number }}"> Next</a>
<a href="?page={{ displays.paginator.num_pages }}"> Last &raquo</a>
{% endif %}

<br />
<br />



<!-- BOOTSTRAP PAGINATION-->
<!--<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if displays.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1"> &laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ displays.previous_page_number }}"> Previous</a></li>
        {% endif %}

        <li class="page-item disabled"><a class="page-link" href="#"> Page {{ displays.number }} of {{ displays.paginator.num_pages}}</a></li>

        {% if displays.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ displays.next_page_number }}"> Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ displays.paginator.num_pages }}"> Last &raquo</a></li>
        {% endif %}

    </ul>
</nav>-->


{% endblock %}